# Site information
site_name: Open Management
site_url: https://aristanetworks.github.io/openmgmt/
site_author: Arista Networks
site_description: Arista Open Management repository documentation
# Repository information
repo_name: openmgmt on Github
repo_url: https://github.com/aristanetworks/openmgmt
# Configuration
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  favicon: _media/favicon.ico
extra:
  analytics:
    provider: google
    property: G-4V8W728SS9
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/aristanetworks/openmgmt
    - icon: fontawesome/solid/globe
      link: https://www.arista.com
markdown_extensions:
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences

extra_css:
  - stylesheets/extra.material.css
nav:
  - Home: index.md
  - Configuration:
    - OpenConfig: configuration/openconfig.md
    - NETCONF: configuration/netconf.md
    - RESTCONF: configuration/restconf.md
    - Certificate Authentication: configuration/mtls.md
    - Security Configuration: configuration/security.md
  - Examples:
    - Ansible: examples/ansible/index.md
    - gNMI clients:
      - gnmi (Arista): examples/gnmi-clients/arista-gnmi/index.md
      - gnmic: examples/gnmi-clients/gnmic/index.md
    - gNMI gateway: examples/gnmi-gateway/index.md
    - gNOI:
      - About gNOI: examples/gnoi/index.md
      - gNOIc: examples/gnoi/gnoic.md
      - gRPCurl: examples/gnoi/grpcurl.md
      - gNOI in Golang: examples/gnoi/gnoicode.md
    - Go Lang: examples/golang/index.md
    - NETCONF:
      - About NETCONF: examples/netconf/index.md
      - ncclient: examples/netconf/ncclient.md
      - NETCONF over SSH: examples/netconf/netconf_over_ssh.md
    - Pygnmi: examples/pygnmi/index.md
    - Pyang: examples/pyang/index.md
    - Pyangbind: examples/pyangbind/index.md
    - RESTCONF:
      - About RESTCONF: examples/restconf/index.md
      - cURL: examples/restconf/curl.md
      - Python: examples/restconf/python.md
    - ygot: examples/ygot/index.md
    - WiFi: examples/WiFi/index.md
  - Telemetry:
    - gNMIReverse: telemetry/adapters/gnmireverse/index.md
    - ocprometheus: telemetry/adapters/ocprometheus/index.md
    - kafka-telegraf: telemetry/adapters/kafka/index.md
  - Models: models/index.md
  - Videos: videos/index.md
