[defaults]
host_key_checking = False
inventory=./inventory.yaml
gathering=explicit
retry_files_enabled = False
collections_paths = ../ansible-cvp:../ansible-avd:~/.ansible/collections:/usr/share/ansible/collections
jinja2_extensions =  jinja2.ext.loopcontrols,jinja2.ext.do,jinja2.ext.i18n
duplicate_dict_key=error
stdout_callback = yaml
bin_ansible_callbacks = True
deprecation_warnings=False

[persistent_connection]
connect_timeout = 300
command_timeout = 300
